<%- include('./partials/html-head') %>
  <title><%= category %></title>
</head>
<body>
  <%- include('./partials/nav.ejs'); %>
  <h1><%= category %></h1>
  <% items.forEach(item => { %>
    <ul>
      <div id="menu-item">
        <li><b><%= item.name %></b>
          <% if(item.rating === 5) { %>
            <span>⭐</span>
          <% } %>
        </li>
        <li><%= item.details %></li>
        <li>Price: $<%= item.price.toFixed(2) %></li>
        <li>Rating: <%= item.rating %></li>
      </div>
    </ul>
  <% }); %>
</body>
</html>