<%- include('./partials/html-head') %>
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav.ejs'); %>
  <h1>Full Menu</h1>

  <div id="menu-category">
    <h2>Mains</h2>
    <% mains.forEach((item) => { %>
      <ul>
        <div id="menu-item">
          <li><b><%= item.name %></b>
            <% if(item.rating === 5) { %>
              <span>⭐</span>
            <% } %>
          </li>
          <li><%= item.details %></li>
          <li>Price: $<%= item.price.toFixed(2) %></li>
          <li>Rating: <%= item.rating %></li>
        </div>
      </ul>
    <% }); %>
    </div>
  </div>


  <div id="menu-category">
    <h2>Sides</h2>
    <% sides.forEach((item) => { %>
      <ul>
        <div id="menu-item">
          <li><b><%= item.name %></b>
            <% if(item.rating === 5) { %>
              <span>⭐</span>
            <% } %>
          </li>
          <li><%= item.details %></li>
          <li>Price: $<%= item.price.toFixed(2) %></li>
          <li>Rating: <%= item.rating %></li>
        </div>
      </ul>
    <% }); %>
  </div>

  <div id="menu-category">
    <h2>Desserts</h2>
    <% desserts.forEach((item) => { %>
      <ul>
        <div id="menu-item">
          <li><b><%= item.name %></b>
            <% if(item.rating === 5) { %>
              <span>⭐</span>
            <% } %>
          </li>
          <li><%= item.details %></li>
          <li>Price: $<%= item.price.toFixed(2) %></li>
          <li>Rating: <%= item.rating %></li>
        </div>
      </ul>
    <% }); %>
  </div>
  </div>
</body>
</html>